nav{
    position: absolute;
    top: calc(50% - 50px);
    max-width: 80vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    padding: 2vw 1.04vw;

    >a{
        svg{
            transform: scale(3.5);
            opacity: 0;

            #logo_ruel{
                margin: 0 auto;
                transform: translate(3px, 0px);
            }
            
            #ytac_text{
                visibility: hidden;
            }
        }
    }
}

#canvas_wrapper{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: relative;
}